.header{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
}

/* .btn1{
    background-color: #66CDAA;
    color: white;
    border: none;
}

.btn2{
    background-color: #6F00FF;
    color: white;
    border: none;
    

} */